.selectComponent {
    display: block;
    margin: 0 auto;
}

.checkComponent{
    text-align: center;
}

.interpretationHead{
    text-Align:center;
    padding:0.4em;
    font-size:1.2em;
}

.centerItems{
    text-Align:center;
}

.buttonSelected{
    background:black;
}

.buttonNotSelected{
    background:#dddddd;
    color:black;
    border-color:#dddddd;
}

.errorRedBorderFix{
    z-index: 10;
    position: inherit;
}