.selectComponent {
    display: block;
    margin: 0 auto;
}

.checkComponent{
    text-align: center;
}

.interpretationHead{
    text-Align:center;
    padding:0.4em;
    font-size:1.2em;
}

.centerItems{
    text-Align:center;
}

.buttonSelected{
    background:black;
}

.buttonNotSelected{
    background:#dddddd;
    color:black;
    border-color:#dddddd;
}

.errorRedBorderFix{
    z-index: 10;
    position: inherit;
}

body{
    user-select:none; /*fix the bug, when text is dragged over canvas and cause loading of different element (text - element)*/
}

.btn {
    color:black;
    border-radius:0 !important;
    border:0;
}

.btn-with-border {
    border: 1px solid #6c757d;
    color: #6c757d;
}

.teacher-mode-button:hover {
    color:white !important;
    background-color:#51c46b !important;
}

.no-border-radius,.no-border-radius div {
    border-radius: 0 !important;
}

.btn:focus, .btn.focus {
    box-shadow: none !important;;
}

.form-control.is-invalid{
    background-image: none;
}

.btn-light{
    border: 1px solid silver !important;
}