body{
    user-select:none; /*fix the bug, when text is dragged over canvas and cause loading of different element (text - element)*/
}

.btn {
    border-radius:0 !important;
}

.btn:focus, .btn.focus {
    box-shadow: none !important;;
}

.btn-graph {
    outline: none;
    color: black;
    text-align:center;
    font-size:13px;
    padding:0 0.3em;
    font-weight: bold;
    border:0;
}

.no-padding-right {
    padding-right: 0 !important;
}

.teacher-mode:hover{
    background-color: #28a745;
}

.form-control.is-invalid{
    background-image: none;
}

.hidden-on-medium-and-lower{
    display: inline;
}

@media all and (max-width: 991px) {
    .hidden-on-medium-and-lower{
        display: none;
        width: max-content;
    }
}

@media all and (max-width: 991px) {
    .hidden-on-medium-and-lower{
        display: none;
        width: max-content;
    }
}

.vh-pane-left{
    height: 90vh;
    padding-right: 15px;
}
@media all and (max-width: 991px) {
    .vh-pane-left{
        height: 45vh;
        margin-bottom: 15px;
        padding-right: 0;
    }
}

.vh-pane-right{
    height: 90vh;
    padding-left: 15px;
}
@media all and (max-width: 991px) {
    .vh-pane-right{
        height: 45vh;
        margin-top: 15px;
        padding-left: 0;
    }
}