body{
    user-select:none; /*fix the bug, when text is dragged over canvas and cause loading of different element (text - element)*/
}

.btn {
    border-radius:0 !important;
}

.btn:focus, .btn.focus {
    box-shadow: none !important;;
}

.btn-graph {
    outline: none;
    color: black;
    text-align:center;
    font-size:13px;
    padding:0 0.3em;
    font-weight: bold;
    border:0;
}

.no-padding-right {
    padding-right: 0 !important;
}

.teacher-mode:hover{
    background-color: #28a745;
}

.form-control.is-invalid{
    background-image: none;
}

.hidden-on-medium-and-lower{
    display: inline;
}

@media all and (max-width: 990px) {
    .hidden-on-medium-and-lower{
        display: none;
    }
}
